$hover-cover: #00000030;
$white: #fff;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.loader {
  width: 60px;
  height: 60px;
  border: 8px solid #3498db;
  border-top: 8px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframes for spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchBlock {
  max-width: 1200px;
  display: inline-block;
  width: 100%;
  h1 {
    font-size: 24px;
  }
  form {
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 24px;
    input {
      width: 100%;
      height: 40px;
      border: none;
      &:focus {
        outline: none;
      }
    }
    button[type="submit"] {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    .icon {
      fill: #ccc;
      &:hover {
        fill: #333;
      }
    }
  }
}

.imagesContainer {
  max-width: 1200px;
  display: inline-block;
}
.imageList {
  display: grid;
  gap: 50px;
  margin-top: 30px;
  width: 100vw;

  .imageCard {
    position: relative;
    width: 100vw;
    img {
      width: 100%;
      height: auto;
    }
    .imageCover {
      margin: 0 30px 20px 20px;
    }
    .cardFooter {
      width: 100%;
      height: 30px;
      cursor: pointer;
      .cardFooterContent {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .author {
        text-decoration: none;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;

        display: flex;
        gap: 8px;
        align-items: center;
        .profilePic {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
      .downloadBtn {
        svg {
          float: right;
          width: 35px;
          height: 27px;
          background-color: $white;
          padding: 3px;
          border-radius: 7px;
        }
      }
    }
  }
}

@media (min-width: $bp-tablet) {
  .imageList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    margin-top: 40px;
    .imageCard {
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-height: 400px;
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        object-fit: cover;
      }
      .imageCover {
        visibility: hidden;
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $hover-cover;
      }
      .cardFooter {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        bottom: 15px;
        .cardFooterContent {
          padding: 0 20px;
        }
        .author {
          color: #fff;
        }
      }
      &:hover {
        .imageCover,
        .cardFooter {
          visibility: visible;
        }
      }
    }
  }
}

@media (min-width: $bp-desktop) {
  .searchBlock {
    h1 {
      font-size: 32px;
    }
  }
  .imageList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
  }
}
